* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    padding-inline: 60px;
}

.section-2 {
    padding-inline: 120px;
}

.active {
    background-color: #e0dede;
}

/*---- HEADER - NAVBAR STYLE --------*/
#header {
    width: 100%;
    padding-inline: 60px;
    display: flex;
    position: fixed;
    z-index: 999;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#header #navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-inline: 40px;
    padding-block: 50px;
}

#navbar-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 40px;
    position: relative;
}

#navbar-container .navbar .nav-links {
    display: flex;
    gap: 20px;
}

#navbar-container .navbar a {
    text-decoration: none;
    color: #292828;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    transition: all ease-in-out .2s;
}

/* #navbar-container .navbar a.active {
    background-color: #e0dede;
} */

#navbar-container .navbar .nav-links a:hover, 
#navbar-container .navbar .nav-links a.active,
#navbar-container .navbar .signup-container a:hover {
    background-color: #e0dede;
}

#navbar-container .cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 40px;
    height: 55px;
    width: 55px;
    transition: all ease-in-out .2s;
    position: relative;
}


#navbar-container .cart-container svg {
    width: 20px;
    height: 20px;
}

#navbar-container .cart-container:hover {
    background-color: #e0dede;
}

span.cart-counter {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 1em;
}

.counter-value {
    color: red;
}

#navbar-container .navbar .user-menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all ease-in-out 2s;
}


.user-menu-container span.user-initials {
    background-color: black;
    color: white;
    padding: 15px 10px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.user-menu-container span.user-initials:hover {
    background-color: #e0dede;
    color: black;
}

#navbar-container .profile-menu {
    position: absolute;
    background-color: #e0dede;
    width: 200px;
    padding: 20px 0px;
    top: 50px;
    left: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-15%);
    opacity: 0;
    z-index: -999;
    transition: all ease-in-out .2s;
}

#navbar-container .user-menu-container:hover .profile-menu {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

#navbar-container .profile-menu li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: -20px;
    transition: all ease-in-out .1s;
    width: 100%;
    padding: 8px 0px;
}

#navbar-container .profile-menu li:hover {
    background-color: #c7c5c5;
    color: #fff;
}

#navbar-container .profile-menu li svg {
    height: 20px;
    width: 20px;
}

/*----------SIDENAV STYLING --------------------*/
.sidenav {
    display: none;
    flex-direction: column;
    background-color: rgba(163, 157, 157, 0.8);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    padding-top: 100px;
    transform: translateX(100%);
    z-index: 999;
    transition: transform 0.3s ease;
}

.sidenav.sidenav-open-menu {
    transform: translateX(0%);
}

#sidenav-open {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

#sidenav-menu-open svg {
    height: 30px;
    width: 30px;
}

#sidenav #close-menu {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    left: 30px
}

#sidenav #view-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

#sidenav #view-profile svg {
    height: 40px;
    width: 40px;
}

#sidenav a {
    width: 100%;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: all ease-in-out .1s;
}

#sidenav a:hover {
    background-color: #c7c5c5;
}

.sidenav-signup {
    margin-block: auto;
}

/*--------------------------------------------*/

/*----------- BANNER -------------------------*/
#banner-container {
    padding-top: 250px;
    padding-inline: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-container .banner {
    width: 100%;
    padding: 50px 60px;
    border: none;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#banner-container .banner h1 {
    width: 15%;
    font-size: 40px
}

#banner-container .banner p {
    width: 75%;
    line-height: 2;
}

#banner-container .banner a {
    padding: 20px 55px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: none;
    text-decoration: none;
}
/*----------------------------------------*/

/*---------- OFFERS -----------------------*/
#offers-section {
    display: flex;
    align-items: center;
    padding-inline: 120px;
    margin-top: 100px;
}

.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 60px;
}

.offers-container > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
}

.offers-container .offer {
    background-color: #D9D9D9;
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.offers-container h1 {
    font-size: 3.2em;
    margin-bottom: 20;
}

.offers-container .offer h3 {
    font-size: 1.8em;
    
}

.offers-container .offer p {
    font-size: 20px;
    line-height: 1.5;
}

.offers-container .line {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: red;
} 
/*-------------------------------------*/

/*----------------RENT STEPS SECTION------------------*/
#rent-section {
    display: flex;
    width: 100%;
    margin-top: 100px;
    padding-inline: 120px;
    margin-bottom: 60px;
}

.rent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 80px;
}

.rent-container > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
}

.rent-steps {
    padding: 40px 40px 60px 40px;
    background-color: #D9D9D9;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.rent-container h1 {
    font-size: 3.2em;
    color: #363232;
}

.rent-steps > span {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: 600;
}

.rent-steps div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rent-steps p {
    font-size: 40px;
    font-weight: 600;
}

#rent-section .line {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: red;
} 

/*--------------------------------------------*/

/*------- Footer ------------------------------*/
footer {
    width: 100%;
    padding-inline: 180px;
    background-color: #D9D9D9;
    padding-block: 60px;
}

.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 80px;
}

.footer-container div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-container div h5 {
    color: #363232;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-container div a {
    color: #4b4a4a;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 2px 4px 5px 2px red;
    transition: all ease-in-out .2s
}

.footer-container div a:hover {
    color: #6076f0;
    transform: scale(1.04);
}




@media only screen and (max-width: 576px) {
    #header {
        padding-inline: 20px;
    }

    #header #navbar-container {
        padding-inline: 20px;
        padding-block: 40px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /* BANNER */
    #banner-container {
        padding-top: 150px;
        padding-inline: 20px;
    }
    
    #banner-container .banner {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    
    #banner-container .banner h1 {
        width: 100%;
        font-size: 1.4em;
    }
    
    #banner-container .banner p {
        width: 100%;
        line-height: 1.5;
        font-size: .8em;
    }
    
    #banner-container .banner a {
        padding: 10px 25px;
        font-size: .9em;
        margin-left: 60px;
        position: relative;
    }

    /* OFFERS */
    #offers-section {
        padding-inline: 20px;
    }
    
    .offers-container {
        gap: 30px;
    }
    
    .offers-container > div {
        gap: 30px;
    }
    
    .offers-container .offer {
        padding: 40px 40px 60px 40px;
    }
    
    .offers-container h1 {
        font-size: 1.2em;
    }
    
    .offers-container .offer h3 {
        font-size: 1.2em;
        
    }
    
    .offers-container .offer p {
        font-size: 1em;
        line-height: 1.5;
    }

    /*----------------RENT STEPS SECTION------------------*/
    #rent-section {
        margin-top: 100px;
        padding-inline: 20px;
    }

    .rent-container {
        gap: 40px;
    }

    .rent-container > div {
        gap: 20px;
    }

    .rent-steps {
        padding: 20px 40px;
        gap: 30px;
    }

    .rent-container h1 {
        font-size: 1.8em;
    }

    .rent-steps > span {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
    }

    .rent-steps div {
        gap: 10px;
    }

    .rent-steps p {
        font-size: 1.4em;
    }
}





@media only screen and (max-width: 799px) {
    #header {
        padding-inline: 20px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /* BANNER */
    #banner-container {
        padding-top: 150px;
        padding-inline: 40px;
    }
    
    #banner-container .banner {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    
    #banner-container .banner h1 {
        width: 100%;
        font-size: 1.4em;
    }
    
    #banner-container .banner p {
        width: 100%;
        line-height: 1.5;
        font-size: .9em;
    }
    
    #banner-container .banner a {
        padding: 10px 25px;
        font-size: .9em;
        margin-left: 60px;
        position: relative;
    }

    /* OFFERS */
    #offers-section {
        padding-inline: 20px;
    }
    
    .offers-container {
        gap: 30px;
    }
    
    .offers-container > div {
        gap: 30px;
    }
    
    .offers-container .offer {
        padding: 40px 40px 60px 40px;
    }
    
    .offers-container h1 {
        font-size: 1.8em;
    }
    
    .offers-container .offer h3 {
        font-size: 1.2em;
        
    }
    
    .offers-container .offer p {
        font-size: 1em;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 992px) {
    #header {
        padding-inline: 20px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /* BANNER */
    #banner-container {
        padding-top: 150px;
        padding-inline: 20px;
    }
    
    #banner-container .banner {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    
    #banner-container .banner h1 {
        width: 100%;
        font-size: 1.6em;
    }
    
    #banner-container .banner p {
        width: 100%;
        line-height: 1.5;
        font-size: 1.1em;
    }
    
    #banner-container .banner a {
        padding: 10px 25px;
        font-size: 1.1em;
        margin-left: 60px;
        position: relative;
    }
}