* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    padding-inline: 60px;
}

.section-2 {
    padding-inline: 120px;
}

.active {
    background-color: #e0dede;
}

/*---- HEADER - NAVBAR STYLE --------*/
#header {
    width: 100%;
    padding-inline: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#header #navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    padding-block: 50px 30px;
}

#navbar-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 40px;
    position: relative;
}

#navbar-container .navbar .nav-links {
    display: flex;
    gap: 20px;
}

#navbar-container .navbar a {
    text-decoration: none;
    color: #292828;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    transition: all ease-in-out .2s;
}

/* #navbar-container .navbar a.active {
    background-color: #e0dede;
} */

#navbar-container .navbar .nav-links a:hover, 
#navbar-container .navbar .nav-links a.active,
#navbar-container .navbar .signup-container a:hover {
    background-color: #e0dede;
}

#navbar-container .cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: transparent; */
    border-radius: 40px;
    height: 55px;
    width: 55px;
    transition: all ease-in-out .2s;
    position: relative;
}

#navbar-container .navbar .active {
    background-color: #e0dede;
}


#navbar-container .cart-container svg {
    width: 20px;
    height: 20px;
}

#navbar-container .cart-container:hover {
    background-color: #e0dede;
}

span.cart-counter {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 1em;
}

.counter-value {
    color: red;
}

#navbar-container .navbar .user-menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all ease-in-out 2s;
}


.user-menu-container span.user-initials {
    background-color: black;
    color: white;
    padding: 15px 10px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.user-menu-container span.user-initials:hover {
    background-color: #e0dede;
    color: black;
}

#navbar-container .profile-menu {
    position: absolute;
    background-color: #e0dede;
    width: 200px;
    padding: 20px 0px;
    top: 50px;
    left: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-40%);
    opacity: 0;
    z-index: -999;
    transition: all ease-in-out .2s;
}

#navbar-container .user-menu-container:hover .profile-menu {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

#navbar-container .profile-menu li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: -20px;
    transition: all ease-in-out .1s;
    width: 100%;
    padding: 8px 0px;
}

#navbar-container .profile-menu li:hover {
    background-color: #c7c5c5;
}

#navbar-container .profile-menu li svg {
    height: 20px;
    width: 20px;
}

/*----------SIDENAV STYLING --------------------*/
.sidenav {
    display: none;
    flex-direction: column;
    background-color: rgba(163, 157, 157, 0.8);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    padding-top: 100px;
    transform: translateX(100%);
    z-index: 999;
    transition: transform 0.3s ease;
}

.sidenav.sidenav-open-menu {
    transform: translateX(0%);
}

#sidenav-open {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

#sidenav-menu-open svg {
    height: 30px;
    width: 30px;
}

#sidenav #close-menu {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    left: 30px
}

#sidenav #view-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

#sidenav #view-profile svg {
    height: 40px;
    width: 40px;
}

#sidenav a {
    width: 100%;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: all ease-in-out .1s;
}

#sidenav a:hover {
    background-color: #c7c5c5;
}

.sidenav-signup {
    margin-block: auto;
}

/*--------------------------------------------*/














/*------- PRODUCTS SECTION ---------------*/
#search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-section-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px 15px;
    position: relative;
    z-index: 990;
}

.search-container {
    display: flex;
    width: 40%;
}

#search-input {
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #363232;
    border: 1px solid rgb(110, 108, 108)
}

/*---------------------------------------------------*/




/*---------- PRODUCTS -----------------------------------*/
.container {
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
    /* background-color: red; */
    padding-top: 250px;
}

.product-list {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 20px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.product-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    /* width: calc(33% - 20px); */
    height: 600px;
    display: flex;
    flex-direction: column;
}

.product-card .product-image {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.product-card p {
    font-size: 14px;
    color: #666;
}

.product-card h3 {
    color: #28a745;
    margin: 10px 0;
    font-size: 16px;
}

.product-card button {
    padding: 10px;
    width: 100%;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.product-card button:hover {
    background-color: #28a745;
}

.product-card button:last-child {
    margin-top: 5px;
}

.product-card button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.product-card .counter-div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.product-card .minus-product, .product-card .add-product {
    background-color: rgb(223, 218, 218);
    font-size: 25px;
    padding: 0px 8px;
    border: 1px solid rgb(82, 79, 79);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s ease;
}

.product-card .minus-product:hover, .product-card .add-product:hover {
    background-color: #00c853;
}

/*------------------------------------------*/




















































/*------- Footer ------------------------------*/
footer {
    width: 100%;
    padding-inline: 180px;
    background-color: #D9D9D9;
    padding-block: 60px;
}

.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 80px;
}

.footer-container div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-container div h5 {
    color: #363232;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-container div a {
    color: #4b4a4a;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 2px 4px 5px 2px red;
    transition: all ease-in-out .2s
}

.footer-container div a:hover {
    color: #6076f0;
    transform: scale(1.04);
}




@media only screen and (max-width: 576px) {
    #header {
        padding-inline: 0px;
    }

    #header #navbar-container {
        padding-inline: 20px;
        padding-block: 40px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /*------- SEARCH SECTION--------*/
    #search-section {
        padding-inline: 0px;
    }
    
    .search-section-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    
    .search-container {
        display: flex;
        width: 100%;
    }
    
    #search-input {
        width: 100%;
        padding: 10px 30px;
        font-size: 20px;
        border-radius: 25px;
        outline: none;
        border: none;
        color: #363232;
        border: 1px solid rgb(110, 108, 108)
    }
    
    .categories-container {
       display: none;
    }
    
    .categories-container .category-box {
        position: relative;
    }
    
    .categories-container .category-box span {
        color: #363232;
        cursor: pointer;
        font-size: 18px;
        padding: 20px 50px;
    }
    
    .categories-container .category-box span:hover {
        background-color: #a59f9fd0;
    }
    
    .category-list {
        position: absolute;
        top: 40px;
        background-color: #d9d9d9;
        padding: 15px 0px 20px 0px;
        width: 200px;
        flex-direction: column;
        gap: 25px;
        /* display: none; */
        transform: translateY(-50%);
        opacity: 0;
        z-index: -999;
        transition: all ease-in-out .2s;
        text-align: center;
        border-radius: 0px 0px 10px 10px;
    }
    
    .categories-container .category-box:hover .category-list {
        /* display: block; */
        transform: translateY(0);
        opacity: 1;
        z-index: 980;
    }
    
    .category-list li {
        list-style: none;
        padding: 12px 10px;
        color: #363232;
        cursor: pointer;
    
    }
    
    .category-list li:hover {
        color: #838080;
    }
    
    .category-box .category {
      z-index: 999;
    }
}





@media only screen and (max-width: 799px) {
    #header {
        padding-inline: 20px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /* BANNER */
    #banner-container {
        padding-top: 150px;
        padding-inline: 40px;
    }
    
    #banner-container .banner {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    
    #banner-container .banner h1 {
        width: 100%;
        font-size: 1.4em;
    }
    
    #banner-container .banner p {
        width: 100%;
        line-height: 1.5;
        font-size: .9em;
    }
    
    #banner-container .banner a {
        padding: 10px 25px;
        font-size: .9em;
        margin-left: 60px;
        position: relative;
    }

    /* OFFERS */
    #offers-section {
        padding-inline: 20px;
    }
    
    .offers-container {
        gap: 30px;
    }
    
    .offers-container > div {
        gap: 30px;
    }
    
    .offers-container .offer {
        padding: 40px 40px 60px 40px;
    }
    
    .offers-container h1 {
        font-size: 1.8em;
    }
    
    .offers-container .offer h3 {
        font-size: 1.2em;
        
    }
    
    .offers-container .offer p {
        font-size: 1em;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 992px) {
    #header {
        padding-inline: 20px;
    }

    #navbar-container .navbar {
        display: none;
    }

    .sidenav {
        display: flex;
    }

    #sidenav-open {
        display: flex;
    }


    /* BANNER */
    #banner-container {
        padding-top: 150px;
        padding-inline: 20px;
    }
    
    #banner-container .banner {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    
    #banner-container .banner h1 {
        width: 100%;
        font-size: 1.6em;
    }
    
    #banner-container .banner p {
        width: 100%;
        line-height: 1.5;
        font-size: 1.1em;
    }
    
    #banner-container .banner a {
        padding: 10px 25px;
        font-size: 1.1em;
        margin-left: 60px;
        position: relative;
    }
}
/*------------------------------------------*/